# Sistema
.vscode
.idea

# Directorios de dependencias
**/node_modules/**
**/venv/**
**/test/**
**/fixtures/**
**/.venv
**/.agents/**
frontend/.agents/
frontend/node_modules/**
frontend/src/test/**

backend/**/__pycache__/**


# Arquivos de configuración
.env
**/.env
