# Sistema
.idea/
.vscode/
.cursor/
data/

# Backups
/backups/**
!/backups/mongo/
!/backups/mongo/readme.md
!/backups/mysql/
!/backups/mysql/readme.md
!/backups/mysql/medicos_db_2026-07-24_103857.sql.gz
!/backups/mysql/sql/
!/backups/mysql/sql/medicos_db_2026-07-24_104402_schema.sql

# Documentos
/docs/*
!/docs/secciones/
!/docs/secciones/**
!/docs/img
!/docs/img/**
!/docs/figures
!/docs/figures/**

# Logs
./**/*.log
./**/*.out

# Crendenciales
.env
.env.*
**/!.env
