# Sistema
.idea/
.vscode/
.cursor/
data/

# Backups
/backups/

# Documentos
/docs/*
!/docs/secciones/
!/docs/secciones/**
!/docs/img
!/docs/img/**
!/docs/figures
!/docs/figures/**

# Logs
./**/*.log
./**/*.out

# Crendenciales
.env
.env.*
**/!.env
